<html>

<head>
    <style>
    </style>
</head>

<body>
    <p>Merhaba {{name}},</p>
    <p>Şifre değiştirme talebini aldık.</p>
    <p> Lütfen alttaki linke tıklayıp şifreni değiştir</p>
    <a href="{{link}}">Şifremi Sıfırla</a>
</body>

</html>